theme "dracula"

default_layout "compact"

ui {
    pane_frames {
        rounded_corners "true"
    }
}

keybinds {
    normal {
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt l" { MoveFocus "Right"; }

        bind "Alt n" { NewPane; }
        bind "Alt v" { NewPane "Right"; }
        bind "Alt s" { NewPane "Down"; }

        bind "Alt x" { CloseFocus; }
        bind "Alt f" { ToggleFocusFullscreen; }

        bind "Alt t" { NewTab; }
        bind "Alt w" { CloseTab; }

        bind "Alt ," { GoToPreviousTab; }
        bind "Alt ." { GoToNextTab; }
    }
}

plugins {
    compact-bar { path "zellij:compact-bar"; }
}